{% include 'header.html' %}
<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url({{url_for('static', filename='assets/img/about-bg.jpg')}})"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          Welcome to my rap blog! I'm Arush Verma, a passionate rap music lover
          who has been immersed in the world of beats, rhymes, and lyrical
          mastery for as long as I can remember. Growing up, rap wasn't just
          music to me—it was a way of expression, a culture that resonated with
          my soul. Whether it's the poetic flow of classic legends or the
          groundbreaking sounds of modern rap, I’ve always found inspiration in
          the way rap tells stories, challenges norms, and brings people
          together.
        </p>
        <p>
          This blog is born out of my love for rap and a desire to create a
          space where I can share my thoughts, reviews, and insights on
          everything happening in the rap scene. Here, you’ll find everything
          from deep dives into rap history to discussions about the latest
          albums, artists, and trends. My goal is to celebrate the art form and
          its global influence, while also connecting with other rap fans who
          share my passion for this unique genre.
        </p>
        <p>
          Through this blog, I aim to bring authentic, raw, and insightful
          content to rap lovers everywhere. Whether you’re a seasoned listener
          or new to the genre, I hope this space offers something for
          everyone—because, at the end of the day, rap is for everyone who
          understands the power of rhythm and words. So stick around, explore,
          and let's vibe together! tempora!
        </p>
      </div>
    </div>
  </div>
</main>
<!-- Footer-->
{% include 'footer.html' %}
